# Aggregated Data Analysis

Aggregate train.csv and test.csv into one dataframe, conduct data cleaning operations, and then split into train, validation, test sets and train models

## Data Cleaning and Processing

In [1]:
import pandas as pd
from sklearn.preprocessing import Imputer, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
import numpy as np
import Utilities

train = pd.read_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/train.csv')
test = pd.read_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/test.csv')

data = pd.concat([train, test])

In [2]:
print(data.shape)
print(train.shape)
print(test.shape)

# Store prices
prices = train.set_index('Id')['SalePrice']

(2919, 81)
(1460, 81)
(1459, 80)

In [3]:
# Show missing value summary
Utilities.summarize_missing(data)

Alley           2721
BsmtCond          82
BsmtExposure      82
BsmtFinSF1         1
BsmtFinSF2         1
BsmtFinType1      79
BsmtFinType2      80
BsmtFullBath       2
BsmtHalfBath       2
BsmtQual          81
BsmtUnfSF          1
Electrical         1
Exterior1st        1
Exterior2nd        1
Fence           2348
FireplaceQu     1420
Functional         2
GarageArea         1
GarageCars         1
GarageCond       159
GarageFinish     159
GarageQual       159
GarageType       157
GarageYrBlt      159
KitchenQual        1
LotFrontage      486
MSZoning           4
MasVnrArea        23
MasVnrType        24
MiscFeature     2814
PoolQC          2909
SalePrice       1459
SaleType           1
TotalBsmtSF        1
Utilities          2
dtype: int64

In [4]:
# Show percentages missing - threshold 20%
Utilities.percentage_missing(data)

Alley           93.216855
BsmtCond         2.809181
BsmtExposure     2.809181
BsmtFinSF1       0.034258
BsmtFinSF2       0.034258
BsmtFinType1     2.706406
BsmtFinType2     2.740665
BsmtFullBath     0.068517
BsmtHalfBath     0.068517
BsmtQual         2.774923
BsmtUnfSF        0.034258
Electrical       0.034258
Exterior1st      0.034258
Exterior2nd      0.034258
Fence           80.438506
FireplaceQu     48.646797
Functional       0.068517
GarageArea       0.034258
GarageCars       0.034258
GarageCond       5.447071
GarageFinish     5.447071
GarageQual       5.447071
GarageType       5.378554
GarageYrBlt      5.447071
KitchenQual      0.034258
LotFrontage     16.649538
MSZoning         0.137033
MasVnrArea       0.787941
MasVnrType       0.822199
MiscFeature     96.402878
PoolQC          99.657417
SalePrice       49.982871
SaleType         0.034258
TotalBsmtSF      0.034258
Utilities        0.068517
dtype: float64

In [5]:
cols = ['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']
data = Utilities.drop_unecessary_columns(data, cols)

In [6]:
# Drop target column - ofc data will be missing
data = data.drop(['SalePrice'], axis=1)

In [7]:
# Impute rest of missing data
data = Utilities.impute_all_missing(data)
Utilities.summarize_missing(data)

Series([], dtype: int64)

In [8]:
data = Utilities.encodeAndStandardize(data)
data.shape

Dummized shape : (2919, 234)
Normalized shape : (2919, 36)
Combined shape : (2919, 270)

(2919, 270)

In [9]:
# Sanity check
Utilities.summarize_missing(data)

Series([], dtype: int64)

In [10]:
# split into train and test, make train prices log(prices)
train = data[:1460]
# train['SalePrice'] = np.log(prices)
train['SalePrice'] = prices
# train = train.assign(SalePrice=prices)
test = data.tail(1459)
Utilities.summarize_missing(train)
# prices

/Users/Tomas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Series([], dtype: int64)

In [11]:
saveData = True
if saveData:
    train.to_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/final_train.csv')
    test.to_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/final_test.csv')

## Modeling

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn import linear_model
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error
from sklearn.grid_search import GridSearchCV
import math

train = pd.read_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/final_train.csv', index_col=0)
X_train, X_test, y_train, y_test = train_test_split(train, train['SalePrice'], test_size=0.3, random_state=42)
X_train = X_train.drop(['SalePrice'], axis=1)
X_test = X_test.drop(['SalePrice'], axis=1)

/Users/Tomas/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/Tomas/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [13]:
print(X_train.shape)
print(X_test.shape)

(1022, 270)
(438, 270)

In [14]:
Utilities.summarize_missing(X_train)

Series([], dtype: int64)

In [17]:
import Models

Models.linearRegression(X_train, X_test, y_train, y_test)
Models.ridgeRegression(X_train, X_test, y_train, y_test)
model = Models.lassoRegression(X_train, X_test, y_train, y_test)
# model = Models.elasticNetRegression(X_train, X_test, y_train, y_test)

LoS Regression:
Test RMSE : 32171.943543445705

Ridge Regresion:
Best CV MSE : -1555509574.9744637
Best params: {'regr__alpha': 75}
Test RMSE : 31865.736185440484

Lasso Regresion:
Best CV MSE : -1682801988.573791
Best params: {'regr__alpha': 1}
Test RMSE : 32169.378623854773

In [18]:
test = pd.read_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/final_test.csv', index_col=0)
print(Utilities.summarize_missing(test))
print(test.shape)

Series([], dtype: int64)
(1459, 270)

In [19]:
predictions = model.predict(test)

In [20]:
predictions = pd.DataFrame(predictions, index = test.index, columns=['SalePrice'])
predictions

          SalePrice
Id
1461   86528.115880
1462  118052.374669
1463  172590.694895
1464  198514.093205
1465  202325.332827
1466  173344.970230
1467  193645.337194
1468  166906.968492
1469  207881.591493
1470  117103.947576
1471  204249.307326
1472   93610.066694
1473   81529.495737
1474  164367.431014
1475  109570.403564
1476  337253.937301
1477  246178.040893
1478  311020.961718
1479  316949.624132
1480  428343.896395
1481  286335.594020
1482  235588.414425
1483  170588.800481
1484  177602.195692
1485  214382.064349
1486  208719.176984
1487  302723.234249
1488  231269.762940
1489  183413.834619
1490  235980.781194
...             ...
2890   58902.649525
2891  120854.219153
2892   32634.182398
2893  108565.856944
2894   52030.202339
2895  343777.419251
2896  293602.420383
2897  220463.270977
2898  176517.799771
2899  241487.303631
2900  159961.086268
2901  232252.053125
2902  197779.491225
2903  313518.334758
2904  334802.865151
2905   58795.232108
2906  229453.310710
2907  120865.429892
2908  133898.957274
2909  157418.256102
2910   57588.631032
2911   75658.826621
2912  164784.431543
2913   70645.196208
2914   59565.095400
2915   68447.925890
2916   75751.829847
2917  153641.435899
2918  109072.751689
2919  243500.864832

[1459 rows x 1 columns]

In [21]:
savePredictions = True
if savePredictions:
    predictions.to_csv('/Users/Tomas/Desktop/Kaggle-House-Prices-Challenge/data/predictions.csv')